body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a{
color: #00B7FF;
}
#content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#room {
  background-color: #ddd;
  margin-bottom: 1em;
}
#messages {
  max-width: 630px;
	/*
	margin-right: auto;
	margin-left: auto;
	*/
  height: 300px;
  overflow: auto;
  background-color: #eee;
  margin-bottom: 1em;
}

#room-list {
  float: right;
  width: 150px;
  height: 300px;
  overflow: auto;
}
#room-list div {
  border-bottom: 1px solid #eee;
}
#room-list div:hover {
  background-color: #ddd;
}
#send-message {
  width: 700px;
  margin-bottom: 1em;
  margin-right: 1em;
}
#help {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#test-content{
	max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#steps {
	width: 50%;
  background-color: #eee;
  height: 300px;
	display: inline-block;
}

#steps > div {
	padding: 5px;
}

#status {
  overflow: auto;
	background-color: black;
	width: 50%;
	color: #0F0;
	font: courier;
	font-size: 10px;
  height: 300px;
  float: right;
}
